<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=4"/>
  <link href="{% static 'css/media-query.css' %}" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript">
  </script>
  {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% block body %}
  {% block body_content %}
  <!-- Navigation -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="main-menu" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'search' %}">Search</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Navigation ends -->

  <div class="container">

    {% block content %}{% endblock %}
  </div>

  {% endblock %}

  {% block basic_js %}
    <script src="{% static 'js/vendor/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.PrintArea.js' %}"></script>
  {% endblock %}
{% endblock %}

{% block extra_body %}{% endblock %}
</body>
</html>
