{% extends "app/base.html" %}

{% block title %} Linkedin Search {% endblock title %}

{% block content %}
  <h1 class="page-header">
    Search
  </h1>
  <form method="POST" class="form" action="{{ request.path }}">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="col-md-6" name="keyword" placeholder="Enter your search text here..." {% if keyword %} value="{{ keyword }}" {% endif %}>
        <input type="hidden" name="page" value="{{ page }}">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="password" value="{{password}}">
        <button type="submit" id="search-default-page" class="btn btn-primary" style="margin-left:5px;">Search</button>
        {% if page > 1 %} <button type="submit" id="search-next-page" class="btn btn-primary" style="margin-left:5px;">Next Page</button>{% endif %}
        
        {% if search %}
        <a href="{% url 'search_print' search.id %}" class="btn btn-success" style="margin-left:5px;">Print</a>
        <a href="{% url 'search_export_csv' search.id %}" class="btn btn-success" style="margin-left:5px;">Export to CSV</a>
        <a href="{% url 'search_export_excel' search.id %}" class="btn btn-success" style="margin-left:5px;">Export to Excel</a>
        {% endif %}
      </div>
  </form>
  {% if keyword %}
  <p>Currently showing results for "{{ keyword }}" page: {{ page }}</p>
  {% endif %}
  <div class="row">
    <table class="table table-bordered" id="results">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Title</th>
        <th>Current Company</th>
        <th>Address</th>
        <th>Profile Link</th>
      </tr>
    </thead>
    <tbody>
    {% for result in results %}
      <tr>
        <td>{{ result.first_name }}</td>
        <td>{{ result.last_name }}</td>
        <td>{{ result.title }}</td>
        <td>{{ result.current_company|default_if_none:'--' }}</td>
        <td>{{ result.address|default_if_none:'--' }}</td>
        <td><a href="{{ result.profile_link }}" target="__blank">Profile Link</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}

{% block extra_body %}
<!-- Modal -->
  <div class="modal fade" id="AccountModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Linkedin Credential</h4>
        </div>
        <form role="form" action="#" id="credential-form">
        <div class="modal-body">
          
            <div class="form-group">
              <label for="usr">Email:</label>
              <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="password">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="save-credential">Save</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
<script type="text/javascript">
	$(document).ready(function() {
      {% if not email or not password %}
        $('#AccountModal').modal('show'); 
        
        $('#credential-form').submit(function(event){
          event.preventDefault();
          var email = $('#email').val();
          var password = $('#password').val();
          if (!email || !password){
            alert('Please fill linkedin credential.');
          }else{
            $('input[name="email"]').val(email);
            $('input[name="password"]').val(password);
            $('#AccountModal').modal('hide');
          }
        });
        {% endif %}
        $('#results').DataTable({
            language: {
              search: "Filter",
              searchPlaceholder: "Filter..."
            }
        });

        $('input[name="keyword"]').keyup(function(){
          $('input[name="page"]').val(1);
        });

        $('#search-next-page').click(function(){
          $('input[name="page"]').val(parseInt($('input[name="page"]').val()) + 1);
        });

        $('#search-default-page').click(function(){
          $('input[name="page"]').val(1);
        });
    });
</script>
{% endblock %}