{% extends "app/base.html" %}
{% block extra_head %}
<style type="text/css">
  td, th {
    text-align: center;
  }
</style>
{% endblock %}
{% block title %} Search Print {% endblock title %}

{% block content %}
  <div class="row" id="results">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Title</th>
        <th>Current Company</th>
        <th>Address</th>
        <th>Profile Link</th>
      </tr>
    </thead>
    <tbody>
    {% for result in results %}
      <tr>
        <td>{{ result.first_name }}</td>
        <td>{{ result.last_name }}</td>
        <td>{{ result.title }}</td>
        <td>{{ result.current_company|default_if_none:'--' }}</td>
        <td>{{ result.address|default_if_none:'--' }}</td>
        <td><a href="{{ result.profile_link }}">Profile Link</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
  $(function(){
    $('#results').printArea();
    setTimeout(function(){
      window.close();
    }, 1500);
  });
</script>
{% endblock %}